.footer {
    height: 100px;
    background-color: var(--footer-bg);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer a:hover {
    text-decoration: underline;
}

