.header {
    text-align: start;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    /* Gradient sutil que funciona bem em dark/light */
    background: linear-gradient(150deg, #1c4c7c, #23b5d3);
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
    transition: all 0.3s ease;
}


.logoContainer h1 {
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #fff, #9eefff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoContainer:hover {
    cursor: default;
    transform: scale(1.05)
}

.logoContainer * {
   user-select: none;
}

.logo {
    height: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none; 
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; 
}

.themeButton {
  font-size: 1.2rem;
    background-color: #ffffff26;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #ededed;
}

.themeButton:hover {
    background-color: #ffffff4d;
    transform: scale(1.1);
}
