li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 7px;
}

p,
li {
    font-size: 1.2rem;
}

p {
    border-left: 3px solid #23b5d3;
    padding-left: 16px;
    border-radius: 6px;
}

.image {
    width: 100%;
    border-radius: 6px;
    max-width: 90vw;
    margin: 0 auto;
}

.image-description {
    font-size: 0.9rem;
    color: #888;
}
