:root {
  --background: #ededed;
  --foreground: #161616;
  color: var(--foreground);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
    color: var(--background);
  }

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-container {
  padding: 20px 30px;
  margin: 20px auto;
  width: 700px;
  max-width: 100%;
  border:solid 2px #3f3f3f17;
  border-radius: 3px;
  box-shadow: 0px 0px 20px #3f3f3f3b;
}

.text-container h1 {
  margin-bottom: 20px;
}

li {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 7px;
  font-size: 1.2rem;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
