/* ==========================
   Variáveis de Tema
========================== */
body.light {
    --background: #ededed;
    --foreground: #161616;
    --footer-bg: #dfdfdf44;
}

body.dark {
    --background: #161616;
    --foreground: #ededed;
    --footer-bg: #00000044;
}

/* ==========================
   Reset + Base
========================== */
* {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ==========================
   Componentes
========================== */
.text-container {
    padding: 20px 30px;
    margin: 5px 0 10px 0;
    width: 700px;
    max-width: 100vw;
    border: solid 2px #3f3f3f17;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #3f3f3f3b;
}

.text-container h2 {
    margin-bottom: 20px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.summary-container {
    width: 700px;
    max-width: 100%;
    padding: 20px;
}

li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 7px;
}

p,
li {
    font-size: 1.2rem;
}

p {
    border-left: 3px solid aqua;
    padding-left: 16px;
    border-radius: 6px;
}

.image {
    border-radius: 6px;
    height: 650px;
    width: 650px;
    max-width: 90vw;
    margin: 0 auto;
}

.image-description {
    text-align: center;
    font-size: 0.9rem;
    color: #888888;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    gap: 5px;
}
